.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgContainer {
  margin-left: 100px;
}
.paragraphDescription {
  text-align: center;
  transform: translateX(-22%);
}
.description {
  align-items: center;
  width: 320px;
  letter-spacing: 2px;
  line-height: 20px;
  text-align: center;
}
@media screen and (min-width: 760px) {
  .section {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .paragraphDescription {
    transform: translateX(0);
  }
  .description {
    overflow: auto;
    min-width: 300px;
    height: 350px;
    text-align: left;
    padding-left: 2em;
  }
}
